@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);
body {
  position: relative;
  overflow-x: hidden; }

body,
html {
  height: 100%;
  background-color: #ffffff; }

.nav .open > a {
  background-color: transparent; }
  .nav .open > a:hover {
    background-color: transparent; }
  .nav .open > a:focus {
    background-color: transparent; }

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1; }

* {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

/*-------------------------------*/
/*           Buttons             */
/*-------------------------------*/
.btn {
  padding: 11px 16px;
  margin: 0;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  border: 5px;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn.btn-cta {
    width: 225px;
    padding: 20px 35px;
    color: #000000;
    border: 2px solid #ffffff;
    background: #ffffff; }
    .btn.btn-cta:hover {
      color: #ffffff;
      background: #987dbf;
      border-color: #987dbf; }
  .btn.btn-cta-outline {
    width: 225px;
    padding: 20px 35px;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: 2px solid #ffffff; }
    .btn.btn-cta-outline:hover {
      color: #987dbf;
      background: rgba(112, 79, 160, 0.2);
      border-color: #987dbf; }
  .btn.btn-primary-outline {
    padding: 11px 16px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff; }
    .btn.btn-primary-outline:hover {
      color: #987dbf;
      background: rgba(112, 79, 160, 0.2);
      border-color: #987dbf; }
  .btn.btn-success-outline {
    padding: 11px 30px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff; }
    .btn.btn-success-outline:hover {
      color: #6cc644;
      background: rgba(108, 198, 68, 0.3);
      border-color: #6cc644; }

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 0;
  height: 100%; }
  #wrapper.toggled {
    padding-left: 220px; }
    #wrapper.toggled #sidebar-wrapper {
      width: 220px; }
      #wrapper.toggled #sidebar-wrapper::-webkit-scrollbar {
        display: none; }
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      height: 100%; }
  #wrapper #sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #1a1a1a;
    height: 100%;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 0;
    z-index: 1000; }
    #wrapper #sidebar-wrapper::-webkit-scrollbar {
      display: none; }
  #wrapper #page-content-wrapper {
    padding-top: 0;
    width: 100%;
    height: 100%; }

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px; }
  .sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%; }
    .sidebar-nav li:before {
      background-color: #1c1c1c;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      -moz-transition: width 0.2s ease-in;
      -webkit-transition: width 0.2s ease-in;
      -ms-transition: width 0.2s ease-in;
      transition: width 0.2s ease-in;
      width: 3px;
      z-index: -1; }
    .sidebar-nav li:first-child a {
      background-color: #1a1a1a;
      color: #ffffff; }
    .sidebar-nav li:nth-child(2):before {
      background-color: #402d5c; }
    .sidebar-nav li:nth-child(3):before {
      background-color: #4c366d; }
    .sidebar-nav li:nth-child(4):before {
      background-color: #583e7e; }
    .sidebar-nav li:nth-child(5):before {
      background-color: #64468f; }
    .sidebar-nav li:nth-child(6):before {
      background-color: #704fa0; }
    .sidebar-nav li:nth-child(7):before {
      background-color: #7c5aae; }
    .sidebar-nav li:nth-child(8):before {
      background-color: #8a6cb6; }
    .sidebar-nav li:nth-child(9):before {
      background-color: #987dbf; }
    .sidebar-nav li:hover:before {
      -moz-transition: width 0.2s ease-in;
      -webkit-transition: width 0.2s ease-in;
      -ms-transition: width 0.2s ease-in;
      transition: width 0.2s ease-in;
      width: 100%; }
    .sidebar-nav li #facebook:before {
      background-color: #3B5998; }
    .sidebar-nav li #google-plus:before {
      background-color: #EA4335; }
    .sidebar-nav li #twitter:before {
      background-color: #55acee; }
    .sidebar-nav li #github:before {
      background-color: #6cc644; }
    .sidebar-nav li a {
      color: #dddddd;
      display: block;
      padding: 10px 15px 10px 30px;
      text-decoration: none; }
    .sidebar-nav li.open:hover before {
      -moz-transition: width 0.2s ease-in;
      -webkit-transition: width 0.2s ease-in;
      -ms-transition: width 0.2s ease-in;
      transition: width 0.2s ease-in;
      width: 100%; }
  .sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; }
  .sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus,
  .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none; }
  .sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px; }

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999; }
  .hamburger:hover, .hamburger:focus, .hamburger:active {
    outline: none; }
  .hamburger.is-closed:before {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px; }
  .hamburger.is-closed:hover before {
    -moz-transform: translate3d(-100px, 0, 0);
    -webkit-transform: translate3d(-100px, 0, 0);
    -ms-transform: translate3d(-100px, 0, 0);
    transform: translate3d(-100px, 0, 0);
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: block;
    opacity: 1; }
  .hamburger.is-closed:hover .hamb-top {
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    top: 0; }
  .hamburger.is-closed:hover .hamb-bottom {
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    bottom: 0; }
  .hamburger.is-closed .hamb-top {
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    top: 5px; }
  .hamburger.is-closed .hamb-middle {
    margin-top: -2px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    top: 50%; }
  .hamburger.is-closed .hamb-bottom {
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #000000;
    bottom: 5px; }
  .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%; }
  .hamburger.is-open .hamb-top {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    -ms-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: -2px;
    top: 50%; }
  .hamburger.is-open .hamb-middle {
    background-color: #ffffff;
    border: 1px solid #000000;
    display: none; }
  .hamburger.is-open .hamb-bottom {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    -ms-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-top: -2px;
    top: 50%; }
  .hamburger.is-open:before {
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    color: #ffffff;
    content: '';
    display: block;
    font-size: 14px;
    line-height: 32px;
    opacity: 0;
    text-align: center;
    width: 100px; }
  .hamburger.is-open:hover before {
    -moz-transform: translate3d(-100px,0,0);
    -webkit-transform: translate3d(-100px,0,0);
    -ms-transform: translate3d(-100px,0,0);
    transform: translate3d(-100px,0,0);
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    display: block;
    opacity: 1; }

/*-------------------------------*/
/*            Inputs             */
/*-------------------------------*/
label {
  color: #ffffff;
  font-weight: 500; }

.form-control {
  border: 2px solid #dddddd;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  -moz-transition: all _duration ease;
  -webkit-transition: all _duration ease;
  -ms-transition: all _duration ease;
  transition: all _duration ease; }
  .form-control:hover, .form-control:focus, .form-control:active {
    border-color: #ffffff;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: none; }

.checkbox label input[type="checkbox"] {
  border: 2px solid #dddddd;
  background: rgba(255, 255, 255, 0.2); }

nav#navbar {
  -moz-transition: all _druation(transition) ease;
  -webkit-transition: all _druation(transition) ease;
  -ms-transition: all _druation(transition) ease;
  transition: all _druation(transition) ease;
  font-weight: 500;
  border: none; }
  nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav {
    text-align: center; }
    nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li a {
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #facebook {
      color: #dddddd;
      font-size: 14px; }
      nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #facebook:hover {
        color: #3B5998; }
    nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #twitter {
      color: #dddddd;
      font-size: 14px; }
      nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #twitter:hover {
        color: #55acee; }
    nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #github {
      color: #dddddd;
      font-size: 14px; }
      nav#navbar div.container-fluid div.navbar-collapse ul.navbar-nav li #github:hover {
        color: #6cc644; }

/*-------------------------------*/
/*           Landing             */
/*-------------------------------*/
#cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(/images/working.jpg) no-repeat center center; }
  #cover div.cover-overlay {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.8); }
    #cover div.cover-overlay div.text-overlay {
      margin: auto; }
      #cover div.cover-overlay div.text-overlay h1, #cover div.cover-overlay div.text-overlay h2, #cover div.cover-overlay div.text-overlay h3, #cover div.cover-overlay div.text-overlay h4, #cover div.cover-overlay div.text-overlay h5, #cover div.cover-overlay div.text-overlay h6, #cover div.cover-overlay div.text-overlay p {
        color: #ffffff; }
      #cover div.cover-overlay div.text-overlay h2 {
        font-size: 46px;
        letter-spacing: 2px; }
      #cover div.cover-overlay div.text-overlay p {
        margin: 25px auto;
        width: 50%; }
    #cover div.cover-overlay .bounce {
      font-size: 34px;
      font-style: normal;
      color: #ffffff;
      position: absolute;
      bottom: 60px;
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      -ms-animation: bounce 2s infinite;
      animation: bounce 2s infinite; }
      #cover div.cover-overlay .bounce a {
        color: #ffffff; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
#quote {
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center; }
  #quote blockquote {
    border: none;
    width: 100%;
    font-size: 34px;
    font-style: normal;
    font-weight: 600; }

#parts {
  background-color: #F7F7F7; }
  #parts .container-fluid .row .col-md-4 {
    height: 450px;
    padding: 50px 20px; }
    #parts .container-fluid .row .col-md-4 div {
      width: 100%; }

#news {
  background-color: #F7F7F7; }
  #news h2 {
    padding: 10px;
    text-align: center;
    font-weight: 500; }
  #news #main-container {
    padding: 0; }
    #news #main-container #news-carousel .carousel-control {
      width: 50px;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #news #main-container #news-carousel .carousel-indicators {
      bottom: 5px; }
    #news #main-container .row .col-md-4 {
      padding: 0;
      margin: 0;
      height: 300px;
      overflow: hidden; }
      #news #main-container .row .col-md-4 img {
        width: 100%;
        height: 100%; }
      #news #main-container .row .col-md-4 .news-overlay {
        position: absolute;
        display: flex;
        align-items: center;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: transparent;
        color: #ffffff;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        #news #main-container .row .col-md-4 .news-overlay div {
          margin: 0 auto; }
          #news #main-container .row .col-md-4 .news-overlay div h3 {
            margin-bottom: 10px; }
          #news #main-container .row .col-md-4 .news-overlay div p {
            font-size: 13px;
            font-style: normal;
            color: rgba(255, 255, 255, 0.6); }
          #news #main-container .row .col-md-4 .news-overlay div.is-hovered {
            opacity: 1;
            background: rgba(0, 0, 0, 0.8); }

footer {
  background: #1a1a1a;
  padding: 20px 10px;
  text-align: center;
  color: #ffffff; }

#contact {
  background: url(/images/contacts.jpg) center center no-repeat; }
  #contact .container-fluid {
    padding: 0;
    background: rgba(0, 0, 0, 0.7); }
    #contact .container-fluid h2 {
      padding: 10px;
      text-align: center;
      font-weight: 500;
      color: #ffffff; }
    #contact .container-fluid .row {
      background: transparent; }
      #contact .container-fluid .row .col-lg-6 {
        padding: 30px; }
        #contact .container-fluid .row .col-lg-6 h1, #contact .container-fluid .row .col-lg-6 h2, #contact .container-fluid .row .col-lg-6 h3, #contact .container-fluid .row .col-lg-6 h4, #contact .container-fluid .row .col-lg-6 h5, #contact .container-fluid .row .col-lg-6 h6 {
          color: #ffffff;
          text-align: center; }
        #contact .container-fluid .row .col-lg-6 p {
          color: rgba(255, 255, 255, 0.6); }
        #contact .container-fluid .row .col-lg-6 li {
          color: rgba(255, 255, 255, 0.6);
          font-size: 14px; }

/*# sourceMappingURL=main.css.map */
