// Libs.
@import 'libs/_vars';
@import 'libs/_functions';
@import 'libs/_mixins';

// Base.
@import 'base/_page';
@import 'base/_typography';

// Components.
@import 'components/_buttons';
@import 'components/_wrappers';
@import 'components/_sidebar';
@import 'components/_hamburger';
@import 'components/_inputs';
@import 'components/_navbar';

// Layouts.
@import 'layouts/_landing';

@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large: '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small: '(max-width: 736px)',
	xsmall: '(max-width: 640px)',
	xxsmall: '(max-width: 360px)'
));