/*-------------------------------*/
/*            Inputs             */
/*-------------------------------*/
label {
    color: _palette(fg-light-active);
    font-weight: 500;
}

.form-control {
    border: 2px solid _palette(fg-light);
    background: rgba(255, 255, 255, 0.2);
    color: _palette(fg-light-active);
    @include vendor ('transition', 'all #{_duration} ease');

    &:hover, &:focus, &:active {
        border-color: _palette(fg-light-active);
        background: rgba(255, 255, 255, 0.3);
        box-shadow: none;
    }
}

.checkbox label input[type="checkbox"] {
    border: 2px solid _palette(fg-light);
    background: rgba(255, 255, 255, 0.2);
}