/// Navbar
nav#navbar {
	@include vendor('transition', 'all #{_druation(transition)} ease');
	font-weight: 500;
	border: none;

	div.container-fluid {

		div.navbar-collapse {

			ul.navbar-nav {
				text-align: center;

				li {

					a {
						@include vendor ('transition', 'all #{_duration(transition)} ease');
					}

					#facebook {
						color: _palette(fg-light);
						font-size: 14px;

				        &:hover {
				            color: _palette(facebook);
				        }
					}

					#twitter {
						color: _palette(fg-light);
						font-size: 14px;

				        &:hover {
				            color: _palette(twitter);
				        }
					}

					#github {
						color: _palette(fg-light);
						font-size: 14px;

				        &:hover {
				            color: _palette(github);
				        }
					}
				}
			}
		}
	}
}